<div class="container" *ngIf="data">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 style="color: blue">Registered Users</h1>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-1"><br>
        <button type="button" class="btn btn-lg btn-outline-secondary" (click)="logout()">Logout</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name  | titlecase }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef> Location </th>
          <td mat-cell *matCellDef="let element"> {{element.location  | titlecase }} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="tweets">
          <th mat-header-cell *matHeaderCellDef> Tweets </th>
          <td mat-cell *matCellDef="let element"> {{element.tweets}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Features </th>
          <td mat-cell *matCellDef="let element">
            <button routerLink="/user/{{element.username}}" mat-button>More..
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="col-md-2"> </div>
  </div>
</div>